<%= form_for @website, data: { customer_token: @website.has_payment_info? } do |f| %>
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Company, Organization, or Website Name (eg. Excite Creative)" %><br>
    <%= f.text_field :title %>
  </div>
	
	<% if @website.adminable_by(current_user) %>
	
		<div class="field">
	    <%= f.label :domain, "Domain ($40/month includes hosting, custom domain, and 5 email accounts)" %><br>
	    <%= f.text_field :domain %>
	  </div>
	
		<table style="margin: 20px 0; ">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				
				<%= hidden_field_tag "addons[]", nil %>
				<% Addon.available.each do |addon| %>
					<tr class="addon" data-price="<%= addon.price %>">
						<td><%= check_box_tag "addons[][id]", addon.id, @website.addon_ids.include?(addon.id), id: dom_id(addon) %></td>
						<td><%= label_tag dom_id(addon), "#{addon.name} (#{number_to_currency addon.price / 100} / month)" %></td>
						<td>
							<%= text_field_tag "addons[][quantity]", @website.addonships.where(addon_id: addon.id).first.try(:quantity), class: "#{"hide" unless addon.quantifiable?}" %>
						</td>
					</tr>
				<% end %>
				
				<% Addon.unavailable.each do |addon| %>
					<tr class="addon disabled">
						<td><%= check_box_tag "addon_permalink", "", false, disabled: true %></td>
						<td><%= label_tag "addon_permalink", "#{addon[:name]} (#{number_to_currency addon[:price] / 100} / month)" %></td>
						<td></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	
		The package you have selected including addons is <b><%= number_to_currency @website.price / 100 %> / month</b>.<br>
		
		<% if @website.customer_token.blank? %>
			There is no credit card associated with your account.
			<%= link_to "Add my billing information", "#", class: "toggle_billing" %><br><br>
		<% else %>
			Your current credit card ends with <b><%= @website.last_4 %></b>.
			<%= link_to "Update my credit card", "#", class: "toggle_billing" %><br><br>
		<% end %>
	
		<% if @website.addons.pluck(:permalink).include?("extra_email") %>
			Awesome!
		<% end %>
	
	<% end %>

	<div class="billing <%= "hide" if !@website.customer_token.blank? || @website.customer_token.blank? %>">
		<hr />
	  <div class="field">
	    <%= label_tag "Number" %><br>
	    <%= text_field_tag nil, "", data: { stripe: "number", name: nil, id: nil } %>
	  </div>
	  <div class="field">
	    <%= label_tag "CVC" %><br>
	    <%= text_field_tag nil, "", data: { stripe: "cvc", name: nil, id: nil } %>
	  </div>
	  <div class="field">
	    <%= label_tag "Expiry Month" %><br>
			<%= select_month nil, { add_month_numbers: true }, { data: { stripe: "exp-month" }, name: nil, id: nil } %>
	  </div>
	  <div class="field">
	    <%= label_tag "Expiry Year" %><br>
			<%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year + 15 }, { data: { stripe: "exp-year" }, name: nil, id: nil } %>
	  </div>
		<%= f.hidden_field :card_token %>
		<hr />
	</div>
	
	<% if super_admin? %>
	  <div class="field">
	    <%= f.label :customer_token %><br>
	    <%= f.text_field :customer_token %>
	  </div>
	<% end %>
	
  <div class="field">
    <%= f.label :primary_colour %><br>
    <%= f.text_field :primary_colour %>
  </div>
  <div class="field">
    <%= f.label :secondary_colour %><br>
    <%= f.text_field :secondary_colour %>
  </div>
  <div class="field">
    <%= f.label :theme_id %><br>
    <%= f.collection_select :theme_id, @website.available_themes, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :home_id %><br>
    <%= f.collection_select :home_id, @website.pages, :id, :title %>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
