<%= render "manage_nav" %>

<h1>Websites</h1>

<% percent = (Website.all.count * 100.00) / 1000 %>
<p><%= Website.all.count %> / 1000 websites</p>
<p><%= percent %>%</p>

<div style="background: #eee; border: 1px solid #ccc; ">
	<div style="background: <%= @website.primary_colour %>; width: <%= percent %>%; height: 25px; "></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Theme</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.title, root_url(protocol: "http://", subdomain: website.permalink) %></td>
        <td><%= link_to website.theme.name, root_url(protocol: "http://", subdomain: website.permalink) %></td>
        <td><%= link_to 'Edit', edit_website_path(website) %></td>
      </tr>
    <% end %>
  </tbody>
</table>