<%= render "manage_nav" %>

<h1>Websites</h1>

<p><%= Website.all.count %> / 1000 websites</p>
<p><%= (Website.all.count * 100.00) / 1000 %>%</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Theme</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.title, root_url(subdomain: website.permalink) %></td>
        <td><%= link_to website.theme.name, root_url(subdomain: website.permalink) %></td>
        <td><%= link_to 'Edit', edit_website_path(website) %></td>
      </tr>
    <% end %>
  </tbody>
</table>