<%= form_for Message.new, url: manage_path("messages"), remote: true do |f| %>
	<div class="field">
		<!-- f.collection_select :to, @website.memberships, :id, :name, {}, multiple: true-->
	  <div class="field">
	    <%= label_tag :who, "To" %><br>
	    <%= select_tag :who, options_for_select([["Noone", "everyone"], ["Filter my contacts...", "filter"]]), class: "full_width" %>
    
	    <div class="filter_options">
	      <table id="filters_container"></table>
	      <%= link_to "+ Add Another Filter", "#", class: "add_filter small_link" %>
	    </div>
	  </div>
  
	  <%= render "filterpicker" %>
	</div>
	<div class="field">
		<%= label_tag :from %><br>
		<%= select_tag :from, options_for_select([current_user.email]) %>
	</div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: "full_width" %>
  </div>
  <div class="field">
    <%= f.label :plain %><br>
    <%= f.text_area :plain, class: "full_width" %>
  </div>
  <div class="actions">
    <%= f.submit "Send", class: "button primary-button" %>
  </div>
<% end %>
