<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if @website.adminable_by(current_user) && @membership.user != current_user %>
	  <div class="field">
	    <%= f.label :security %><br>
	    <%= f.select :security, options_for_select([["Admin", "admin"], ["Member", "member"]], f.object.try(:security)) %>
	  </div>
	<% end %>
	
	<% @website.fields.each do |f| %>
		<div class="field">
			<%= label_tag f.permalink.to_sym %><br>
			<%= text_field_tag f.permalink, @membership.safe_data[f.permalink], name: "membership[data][#{f.permalink}]" %>
		</div>
	<% end %>
	
	<%= f.fields_for :user, @membership.user do |u| %>
	  <div class="field">
	    <%= u.label :email %><br>
	    <%= u.text_field :email %>
	  </div>
	<% end %>
	
	<% if @website.email_addon && @website.has_payment_info? %>
	  <div class="field">
			<%= f.check_box :has_email_account %>
	    <%= f.label :has_email_account, "Has custom <strong>#{@website.stripped_domain(@website.domain)}</strong> email address?".html_safe %><br>
			
			<div class="custom_email_form hint">
				
				<div class="field">
					<%= f.label :username, "Custom Email Address" %><br>
					<% if !@membership.has_email_account? %>
						<%= f.text_field :username %>@<%= @website.stripped_domain(@website.domain) %>
					<% else %>
						<%= @membership.username %>@<%= @website.stripped_domain(@website.domain) %>
					<% end %>
				</div>
				
				<div class="field">
					<%= f.label :password %><br>
					<%= f.password_field :password %>
				</div>
				
				<div class="field">
					<%= f.label :forward_to, "Forward incoming mail to (leave blank for none)" %><br>
					<%= f.text_field :forward_to %>
				</div>
				
				<span class="help_link">Need your email transferred from another source? <%= mail_to "dallas@excitecreative.ca", "Email us." %></span>
			</div>
	  </div>
	<% end %>
	
  <div class="actions">
    <%= f.submit "Save Person", class: "primary-button button" %>
		<% if @membership.user != current_user && (website_admin? || super_admin?) %>
			<%= link_to "Remove", @membership, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
  </div>
<% end %>
