<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% if @website.adminable_by(current_user) && @membership.user != current_user %>
	  <div class="field">
	    <%= f.label :security %><br>
	    <%= f.select :security, options_for_select([["Admin", "admin"], ["Member", "member"]], f.object.try(:security)) %>
	  </div>
	<% end %>
	
	<% %w[company name phone].each do |field| %>
		<div class="field">
			<%= label_tag field.to_sym %><br>
			<%= text_field_tag field.to_sym, @membership.data[field], name: "membership[data][#{field}]" %>
		</div>
	<% end %>
	
	<% if @website.email_addon && @website.has_payment_info? %>
	  <div class="field">
			<%= f.check_box :has_email_account %>
	    <%= f.label :has_email_account %><br>
			<%= f.label :username %> 
			<% if !@membership.has_email_account? %>
				<%= f.text_field :username %>@<%= @website.stripped_domain(@website.domain) %>
			<% else %>
				<%= @membership.username %>@<%= @website.stripped_domain(@website.domain) %>
			<% end %>
			<br>
			Password: <%= f.password_field :password %><br>
			Forward To: <%= f.text_field :forward_to %>
	  </div>
	<% end %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
