<%= render "manage_nav" %>
<%= render "people_nav" %>

<table class="table">
  <thead>
    <tr>
			<th></th>
      <th>Email</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Permissions</th>
			<% if @website.email_addon %>
	      <th>Has Email</th>
			<% end %>
			<% if @website.can_accept_money? %>
				<th>Has Card</th>
			<% end %>
			<!--<% if @website.adminable_by(current_user) %>
	      <th></th>
			<% end %>-->
			<th>Last Seen</th>
    </tr>
  </thead>

  <tbody>
		<% email_addon = @website.email_addon; can_accept_money = @website.can_accept_money? %>
    <% @memberships.each do |membership| %>
      <tr class="membership" data-id="<%= membership.id %>">
				<td><%= check_box_tag "membership_checkbox_#{membership.id}", membership.id, false, class: "membership_checkbox" %></td>
        <td><%= link_to membership.user.email, membership, class: "email" %></td>
				<td><%= link_to membership.safe_data["name"].to_s, membership %></td>
				<td><%= link_to membership.safe_data["phone"].to_s, membership %></td>
				<td><%= link_to membership.security.capitalize, membership %></td>
				
				<% if email_addon %>
					<td>
						<% if membership.has_email_account? %>
							<%= link_to "<i class=\"icon-ok\"></i>".html_safe, membership %>
						<% else %>
							<%= link_to "<i class=\"icon-remove\"></i>".html_safe, membership %>
						<% end %>
					</td>
				<% end %>
				
				<% if can_accept_money %>
					<td>
						<% if membership.card_token.blank? %>
							<%= link_to "<i class=\"icon-remove\"></i>".html_safe, membership %>
						<% else %>
							<%= link_to "<i class=\"icon-ok\"></i>".html_safe, membership %>
						<% end %>
					</td>
				<% end %>
				
				<!--< if @website.adminable_by(current_user) >
	        <td><%= link_to "<i class=\"icon-trash\"></i>".html_safe, membership, method: :delete, data: { confirm: 'Are you sure?' } if membership.user_id != current_user.id %></td>
				< end >-->
					
				<td><%= link_to membership.updated_at.strftime("%b %-d, %Y at %I:%M%p"), membership %></td>
      </tr>
    <% end %>
  </tbody>
</table>