<%= render "manage_nav" %>

<h1>Members</h1>

<% if @website.email_addon %>
	<p class="hint">
		Members can check their email accounts at <%= link_to public_page_url("mail"), public_page_path("mail") %>.
	</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Permissions</th>
			<% if @website.email_addon %>
	      <th>@<%= @website.stripped_domain(@website.domain) %></th>
			<% end %>
			<% if @website.can_accept_money? %>
				<th>Has Card</th>
			<% end %>
			<!--<% if @website.adminable_by(current_user) %>
	      <th></th>
			<% end %>-->
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= link_to membership.user.email, edit_membership_path(membership) %></td>
				<td><%= link_to membership.data["name"].to_s, edit_membership_path(membership) %></td>
				<td><%= link_to membership.data["phone"].to_s, edit_membership_path(membership) %></td>
				<td><%= link_to membership.security.capitalize, edit_membership_path(membership) %></td>
				
				<% if @website.email_addon %>
					<td><%= link_to("#{membership.username}@#{membership.website.stripped_domain(membership.website.domain)} #{"forwarding to #{membership.forward_to}" unless membership.forward_to.blank?}", edit_membership_path(membership)) if membership.has_email_account %></td>
				<% end %>
				
				<% if @website.can_accept_money? %>
					<td>
						<% if membership.card_token.blank? %>
							<%= link_to "<i class=\"icon-remove\"></i>".html_safe, edit_membership_path(membership) %>
						<% else %>
							<%= link_to "<i class=\"icon-ok\"></i>".html_safe, edit_membership_path(membership) %>
						<% end %>
					</td>
				<% end %>
				
				<!--<% if @website.adminable_by(current_user) %>
	        <td><%= link_to "<i class=\"icon-trash\"></i>".html_safe, membership, method: :delete, data: { confirm: 'Are you sure?' } if membership.user != current_user %></td>
				<% end %>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
