<%= render "manage_nav" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Security:</strong>
  <%= @membership.security %>
</p>

<p>
  <strong>Email Account:</strong>
  <%= @membership.email_account %>
</p>

<p>
  <strong>Has email account:</strong>
  <%= @membership.has_email_account %>
</p>

<hr />

<ul id="messages">
	<li><%= link_to "Send Message".html_safe, "#", class: "compose_with_id", data: { id: @membership.id } %></li>
	<% @membership.messages.each do |message| %>
		<li><%= link_to message.subject, message %></li>
	<% end %>
</ul>

<hr />

<ul id="invoices">
	<li><%= link_to "Create An Invoice", new_invoice_path %></li>
	<% @membership.invoices.each do |invoice| %>
		<li><%= link_to invoice.quick_summary, invoice %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_membership_path(@membership) %>
