<%= render "manage_nav" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Security:</strong>
  <%= @membership.security %>
</p>

<p>
  <strong>Email Account:</strong>
  <%= @membership.email_account %>
</p>

<p>
  <strong>Has email account:</strong>
  <%= @membership.has_email_account %>
</p>

<hr />

<ul id="messages">
	<% @membership.messages.each do |message| %>
		<li><%= link_to message.subject, message %></li>
	<% end %>
</ul>

<hr />

<ul id="invoices">
	<% @membership.invoices.each do |invoice| %>
		<li><%= link_to invoice.quick_summary, invoice %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_membership_path(@membership) %>
