<%= form_for @invoice do |f| %>
	<%= f.collection_select :membership_id, @website.memberships, :id, :name %><br>
	<%= f.label :date %>
	<%= f.text_field :date %><br>
	
	<table id="lines" data-lines="<%= @invoice.lines.to_json %>" class="table">
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Description</th>
				<th>Unit Price</th>
				<th>Amount</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<%= link_to "Add Line", "#", class: "add_line" %><br><br>
	
	<%= f.label :tax_rate %>
	<%= f.text_field :tax_rate %><br>
	<%= f.label :subtotal_in_dollars %>
	<%= f.text_field :subtotal_in_dollars, readonly: true %><br>
	<%= f.label :total_in_dollars %>
	<%= f.text_field :total_in_dollars, readonly: true %><br>
	<%= f.check_box :paid %>
	<%= f.label :paid %><br>
	<%= f.check_box :public_access %>
	<%= f.label :public_access %><br>
	<%= f.label :note %><br>
	<%= f.text_area :note, value: @invoice.new_record? ? @website.invoice_blurb : @invoice.note %><br>
	<%= f.submit %>
<% end %>