<%= render "manage_nav" %>
<p id="notice"><%= notice %></p>
<%= link_to "PDF", invoice_path(@invoice, format: :pdf) %>
<%= link_to "Edit", edit_invoice_path(@invoice) %>
<br><br>
<%= render @invoice %>