<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @delivery.message %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @delivery.membership %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
