<div id="blocks_menu">
	<ul>
		<li>
			<%= link_to "<i class=\"icon-dashboard\"></i>".html_safe, manage_path("theme"), class: "show_new_page", data: { no_turbolink: true } %>
			<p class="hint">
				Manage your site
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-plus\"></i>".html_safe, new_page_path, class: "show_new_page", data: { no_turbolink: true } %>
			<p class="hint">
				Click to add a page
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-cog\"></i>".html_safe, edit_page_path(@page), class: "show_edit_page", data: { no_turbolink: true } %>
			<p class="hint">
				Click to edit this page
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-sitemap\"></i>".html_safe, manage_path("pages"), data: { no_turbolink: true } %>
			<p class="hint">
				Click to see all pages
			</p>
		</li>
		
		<% if @website.theme.pristine? %>
			<li>
				<%= link_to "<i class=\"icon-copy\"></i>".html_safe, save_path("website[duplicate_theme]" => @website.theme_id, redirect: manage_path("themes")), method: :patch %>
				<p class="hint">
					Clone and edit this theme
				</p>
			</li>
		<% else %>
			<li>
				<%= link_to "<i class=\"icon-code\"></i>".html_safe, edit_theme_document_path(@website.theme, @page.layout) %>
				<p class="hint">
					Edit your theme's code
				</p>
			</li>
		<% end %>
		
		<li class="separator"></li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-reply\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Undo" } %>
			<p class="hint">
				Click to Undo
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-forward\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Redo" } %>
			<p class="hint">
				Click Redo
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li>
			<%= link_to "<i class=\"icon-font\"></i>".html_safe, "", class: "block_dragger", data: { genre: "text" } %>
			<p class="hint">
				Add a headline
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-picture\"></i>".html_safe, "", class: "block_dragger", data: { genre: "img" } %>
			<p class="hint">
				Add a picture
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-calendar\"></i>".html_safe, "", class: "block_dragger", data: { genre: "events" } %>
			<p class="hint">
				Add an event widget
			</p>
		</li>		
		
		<li>
			<%= link_to "<i class=\"icon-film\"></i>".html_safe, "", class: "block_dragger show_media_gallery", data: { genre: "media" } %>
			<p class="hint">
				Add media
			</p>
		</li>		
		
		<li>
			<%= link_to "<i class=\"icon-twitter\"></i>".html_safe, "", class: "block_dragger", data: { genre: "social" } %>
			<p class="hint">
				Add social icons
			</p>
		</li>		
		
		<li>
			<%= link_to "<i class=\"icon-tasks\"></i>".html_safe, "", class: "block_dragger", data: { genre: "form" } %>
			<p class="hint">
				Add a form
			</p>
		</li>		
		
		<li>
			<%= link_to "<i class=\"icon-money\"></i>".html_safe, "", class: "block_dragger", data: { genre: "money" } %>
			<p class="hint">
				Add giving widget
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-list-ul\"></i>".html_safe, "#", class: "block_dragger", data: { genre: "posts" } %>
			<p class="hint">
				Add a posts section
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-comments\"></i>".html_safe, "#", class: "block_dragger", data: { genre: "comments" } %>
			<p class="hint">
				Add a comments section
			</p>
		</li>
		
		<!--
		<li>
					<%= link_to "<i class=\"icon-columns\"></i>".html_safe, "#", class: "block_dragger", data: { genre: "cols" } %>
					<p class="hint">
						Add columns
					</p>
				</li>-->
		
	</ul>
</div>