<div id="blocks_menu">
	<ul>
		<li>
			<%= link_to "<i class=\"icon-dashboard\"></i>".html_safe, manage_path("account"), class: "show_new_page", data: { no_turbolink: true } %>
			<p class="hint">
				Manage your site
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-plus\"></i>".html_safe, new_page_path, class: "show_new_page", data: { no_turbolink: true } %>
			<p class="hint">
				Click to add a page
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-cog\"></i>".html_safe, edit_page_path(@page), class: "show_edit_page", data: { no_turbolink: true } %>
			<p class="hint">
				Click to edit this page
			</p>
		</li>
		
		<li>
				<%= link_to "<i class=\"icon-sitemap\"></i>".html_safe, "/sitemap" %>
				<p class="hint">
					Click to visit site map
				</p>
			</li>
		
		<li class="separator"></li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-reply\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Undo" } %>
			<p class="hint">
				Click to Undo
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-mail-forward\"></i>".html_safe, "#", data: { no_turbolink: true, snapshot: "Redo" } %>
			<p class="hint">
				Click Redo
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="headline" data-no-turbolink="true">
				<i class="icon-font"></i>
			</a>
			<p class="hint">
				Add a headline
			</p>
		</li>
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="picture">
				<i class="icon-picture"></i>
			</a>
			<p class="hint">
				Add a picture
			</p>
		</li>
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="events">
				<i class="icon-calendar"></i>
			</a>
			<p class="hint">
				Add an event widget
			</p>
		</li>		
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="media">
				<i class="icon-film"></i>
			</a>
			<p class="hint">
				Add media
			</p>
		</li>		
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="social">
				<i class="icon-twitter"></i>
			</a>
			<p class="hint">
				Add social icons
			</p>
		</li>		
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="money">
				<i class="icon-tasks"></i>
			</a>
			<p class="hint">
				Add a form
			</p>
		</li>		
		
		<li>
			<a href="#" class="show_draggable_menu" data-type="money">
				<i class="icon-money"></i>
			</a>
			<p class="hint">
				Add giving widget
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-comments\"></i>".html_safe, "#" %>
			<p class="hint">
				Add a comments section
			</p>
		</li>
		
		<li>
			<%= link_to "<i class=\"icon-columns\"></i>".html_safe, "#" %>
			<p class="hint">
				Add columns
			</p>
		</li>
		
		<li class="separator"></li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-bold\"></i>".html_safe, "#", data: { action: "Bold" } %>
			<p class="hint">
				Click to bold
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-italic\"></i>".html_safe, "#", data: { action: "Italic" } %>
			<p class="hint">
				Click to italicize
			</p>
		</li>
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-underline\"></i>".html_safe, "#", data: { action: "Underline" } %>
			<p class="hint">
				Click to underline
			</p>
		</li>
		
		
		<li class="text_editor_tool">
			<%= link_to "<i class=\"icon-link\"></i>".html_safe, "#" %>
			<p class="hint">
				Click to link selection to a page
			</p>
		</li>
	</ul>
</div>