<div class="section">
  
  <h3>Sign Up</h2>

  <%= form_for(User.new, :as => "user", :url => registration_path("user")) do |f| %>
		<%= f.hidden_field :subdomain, value: @website.permalink %>
	
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "full_width" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "full_width" %>
    </div>
		
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "full_width" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign in", class: "big green button full_width" %>
    </div>
  <% end %>

</div>