<div class="section">
		
	<%= flash[:notice] %>

  <%= form_for(User.new, :as => "user", :url => public_page_path("accounts/sign_in")) do |f| %>
		<%= f.hidden_field :subdomain, value: @website.permalink %>
	
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "full_width" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "full_width" %>
    </div>

    <div class="field">
      <%= f.check_box :remember_me, checked: true %> 
			<%= f.label :remember_me %>
    </div>

    <div class="actions">
      <%= f.submit "Sign in", class: "button primary-button" %>
    </div>
  <% end %>
	
	<%= link_to "Sign Up", public_page_path("sign_up") if @website.allow_signups? %>

</div>