<% cache block do %>
	<%= content_tag_for :div, block, data: { genre: block.genre, id: block.id, details: block.details, url: block_path(block) } do %>
		<% if block.genre == "p" %>
			<p class="contenteditable"><%= block.data["content"].to_s.html_safe %></p>
		<% elsif block.genre == "h3" %>
			<h3 class="contenteditable"><%= block.data["content"].to_s.html_safe %></h3>
		<% elsif block.genre == "h4" %>
			<h4 class="contenteditable"><%= block.data["content"].to_s.html_safe %></h4>
		<% elsif block.genre == "button" %>
			<button class="contenteditable"><%= block.data["content"].to_s.html_safe %></button>
		<% elsif block.genre == "blockquote" %>
			<blockquote class="contenteditable"><%= block.data["content"].to_s.html_safe %></blockquote>
		<% elsif block.genre == "events" %>
			<ol>
				<li>
					<h5>Mon, Sept 18</h5>
					<ol>
						<li>7:00 AM - AWANA - Children</li>
						<li>7:00 AM - Wednesday Equipping Classes</li>
					</ol>
				</li>
				<li>
					<h5>Wed, Sept 22</h5>
					<ol>
						<li>7:00 AM - Online Worship</li>
						<li>7:00 AM - Adult Connect Groups</li>
						<li>7:00 AM - Children Connect Groups</li>
					</ol>
				</li>
			</ol>
		<% elsif block.genre == "img" %>
			<div class="img_wrapper">
				<img src="/themes/shared/map.png">
			</div>
		<% elsif block.genre == "social" %>
			<div class="img_wrapper">
				<img src="/themes/shared/social.png">
			</div>
		<% elsif block.genre == "money" %>
			<div class="img_wrapper">
				<% if block.data["amount"].downcase == "fluctuating" %>
					<div class="field">
						<%= label_tag :how_much, block.data["description"] %><br>
						<%= text_field_tag :how_much %>
					</div>
				<% else %>
					<p><%= block.data["description"] %></p>
					<h1><%= number_to_currency(block.data["amount"].to_i / 100.00) %></h1>
				<% end %>
				<button>Pay</button>
			</div>
		<% elsif block.genre == "table" %>
			<table class="table">
				<tbody>
					<tr>
						<td><i class="icon-globe"></i></td>
						<td class="contenteditable">
							<b>Custom Domain.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-film"></i></td>
						<td class="contenteditable">
							<b>Media.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-credit-card"></i></td>
						<td class="contenteditable">
							<b>Donations/Payments.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-hdd"></i></td>
						<td class="contenteditable">
							<b>Storage Space.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-sitemap"></i></td>
						<td class="contenteditable">
							<b>Pages.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-sitemap"></i></td>
						<td class="contenteditable">
							<b>Pages.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-th-large"></i></td>
						<td class="contenteditable">
							<b>Widgets.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-code"></i></td>
						<td class="contenteditable">
							<b>Edit The Code.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-lock"></i></td>
						<td class="contenteditable">
							<b>Secure.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-signal"></i></td>
						<td class="contenteditable">
							<b>Bandwidth.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-group"></i></td>
						<td class="contenteditable">
							<b>Members.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-mail-reply-all"></i></td>
						<td class="contenteditable">
							<b>Bulk Email.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-shopping-cart"></i></td>
						<td class="contenteditable">
							<b>Web Store.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
					<tr>
						<td><i class="icon-youtube-play"></i></td>
						<td class="contenteditable">
							<b>Live Streaming.</b><br>
							And this is the description.
						</td>
						<td class="contenteditable">$19 / month</td>
					</tr>
				</tbody>
			</table>
		<% elsif block.genre == "media" %>
			<div class="media_wrapper">
				<div class="block_content">
					<div class="video"></div>
					<ul class="playlist">
						<li>
							<a href="#">
								<span class="title">Exceeding God</span>
								<span class="date">Wed, Sept 5, 2013</span>
							</a>
	          </li>
						<li>
							<a href="#" class="playing">
								<span class="title">Back to School</span>
								<span class="date">Wed, Sept 5, 2013</span>
							</a>
	          </li>
						<li>
							<a href="#">
								<span class="title">Decisions, Decisions, Decisions.</span>
								<span class="date">Wed, Sept 5, 2013</span>
							</a>
	          </li>
						<li>
							<a href="#">
								<span class="title">Heaven</span>
								<span class="date">Wed, Sept 5, 2013</span>
							</a>
	          </li>
						<li>
							<a href="#">
								<span class="title">The Field</span>
								<span class="date">Wed, Sept 5, 2013</span>
							</a>
	          </li>
						<li>
							<a href="#">
								<span class="title">Eternity 101</span>
								<span class="date">Wed, Sept 5, 2013</span>
							</a>
	          </li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>