<%= render "manage_nav" %>

<h1>Responses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Contact</th>
      <th>Email</th>
      <th>Data</th>
      <th>Page</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= link_to response.membership.name_or_email, response.membership %></td>
				<td><%= link_to "#{response.safe_data["email"]}", response %></td>
        <td><%= link_to response.data.map{|k, v|"#{k}: #{v}"}.join("<br>").html_safe, response %></td>
				<td><%= link_to response.page.title, response.page.path %></td>
      </tr>
    <% end %>
  </tbody>
</table>