<%= render "manage_nav" %>

<%= link_to "&larr; Back".html_safe, responses_path %>

<% if @response.page %>
	<div class="field">
	  <strong>Page:</strong>
	  <%= link_to @response.page.title, @response.page.path %>
	</div>
<% end %>

<div class="field">
  <strong>Email</strong><br>
  <%= @response.safe_data["email"] %>
</div>

<div class="field">
  <strong>Data</strong><br>
  <%= @response.safe_data.map{ |k, v|"#{k}: #{v}" }.join("<br>").html_safe %>
</div>

<div class="field">
  <strong>Member:</strong>
  <%= link_to @response.membership.name_or_email, @response.membership %>
</div>