<%
	if params[:calendar]
		month = Time.parse("#{params[:calendar][:month]}/#{params[:calendar][:year]}") if params[:calendar][:month] && params[:calendar][:year]
	end
	
	month ||= Time.now.beginning_of_month
	prev_month = month - 1.month
	next_month = month + 1.month
%>
<div class="calendar">
	<%= select_tag :calendar_tags, options_for_select(["Youth", "Men", "Women", "Family", "Kids", "All"]), id: nil, class: "calendar_tags" %>
	<div class="clear"></div>
	<%= link_to "&larr; <span class=\"month_long\">#{prev_month.strftime("%B")}</span><span class=\"month_short\">#{prev_month.strftime("%b")}</span>".html_safe, request.path + "?calendar[month]=#{prev_month.month}&calendar[year]=#{prev_month.year}", class: "prev_month" %>
	<%= link_to "<span class=\"month_long\">#{next_month.strftime("%B")}</span><span class=\"month_short\">#{next_month.strftime("%b")}</span> &rarr;".html_safe, request.path + "?calendar[month]=#{next_month.month}&calendar[year]=#{next_month.year}", class: "next_month" %>
	<h3 class="title">
		<span class="title_long"><%= month.strftime("%B %Y") %></span>
		<span class="title_short"><%= month.strftime("%b %Y") %></span>
	</h3>
	<table class="calendar" data-details="<%= params[:calendar].to_json %>" data-path="<%= request.path %>">
		<thead>
			<tr>
				<% %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday].each do |d| %>
					<th><span class="day_long"><%= d %></span><span class="day_short"><%= d[0] %></span></th>
				<% end %>
		</thead>
		<tbody>
			<% date = month - (month.beginning_of_month.wday % 7).days %>
			<% now = Time.now %>
			<% 6.times do %>
				<tr>
					<% %w[S M T W T F S].each do |d| %>
						<td class="<%= " today" if date >= now.beginning_of_day && date <= now.end_of_day %><%= " not_in_current_month" if date < month.beginning_of_month || date > month.end_of_month %>" data-day="<%= date.day %>" data-month="<%= date.month %>" data-year="<%= date.year %>">
							<span class="number"><%= date.day %></span>
						</td>
						<% date = date + 1.day %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>