<%
	month = Time.parse("#{params[:calendar][:month]}/#{params[:calendar][:year]}") if params[:calendar][:month] && params[:calendar][:year]
	month ||= Time.now
	prev_month = month - 1.month
	next_month = month + 1.month
%>
<div class="calendar">
	<%= select_tag :calendar, options_for_select(["Youth", "Men", "Women", "Family", "Kids", "All"]) %>
	<div class="clear"></div>
	<%= link_to "&larr; <span class=\"month_name\">#{prev_month.strftime("%B")}</span>".html_safe, request.path + "?calendar[month]=#{prev_month.month}&calendar[year]=#{prev_month.year}", class: "prev_month" %>
	<%= link_to "<span class=\"month_name\">#{next_month.strftime("%B")}</span> &rarr;".html_safe, request.path + "?calendar[month]=#{next_month.month}&calendar[year]=#{next_month.year}", class: "next_month" %>
	<h3 class="title"><%= month.strftime("%B %Y") %></h3>
	<table class="calendar" data-details="<%= params[:calendar].to_json %>" data-path="<%= request.path %>">
		<thead>
			<tr>
				<% %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday].each do |d| %>
					<th><span class="first_letter"><%= d[0] %></span><span class="remaining_letters"><%= d[1..-1] %></span></th>
				<% end %>
		</thead>
		<tbody>
			<% date = month - (month.beginning_of_month.wday % 7).days %>
			<% 6.times do %>
				<tr>
					<% %w[S M T W T F S].each do |d| %>
						<td class="<%= " not_in_current_month" if date < month.beginning_of_month || date > month.end_of_month %>" data-day="<%= date.day %>" data-month="<%= date.month %>" data-year="<%= date.year %>">
							<span class="number"><%= date.day %></span>
						</td>
						<% date = date + 1.day %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>