<%= render "manage_nav" %>

<%= form_for @website, url: save_path, data: { customer_token: @website.has_payment_info? } do |f| %>
	<%= hidden_field_tag :redirect, manage_path("account") %>
	
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<% if @website.adminable_by(current_user) %>
	
		<div class="field">
	    <%= f.label :domain, "Domain ($40/month includes hosting, custom domain, and #{@website.free_email_addresses} email accounts)" %><br>
	    http://<%= f.text_field :domain %>
	  </div>
	
		Addons are only available when you have chosen a domain.<br>
		Email addresses will be removed if you change your domain.
		
		<table style="margin: 20px 0; ">
			<thead>
				<tr>
					<th></th>
					<th>Addons</th>
				</tr>
			</thead>
			<tbody>
				
				<%= hidden_field_tag "website[addon_ids][]", nil %>

				<% Addon.available.each do |addon| %>
					<tr class="addon" data-permalink="<%= addon.permalink %>" data-price="<%= addon.price %>">
						<td><%= check_box_tag "website[addon_ids][]", addon.id, @website.addon_ids.include?(addon.id), id: dom_id(addon) %></td>
						<td><%= label_tag dom_id(addon), "#{addon.name} #{"(#{@website.free_email_addresses} free)" if addon.permalink.include? "email"} (#{number_to_currency addon.price / 100} /#{" additional address /" if addon.permalink.include? "email"} month)" %></td>
					</tr>
				<% end %>
				
				<% Addon.unavailable.each do |addon| %>
					<tr class="addon disabled">
						<td><%= check_box_tag "addon_permalink", "", false, disabled: true %></td>
						<td><%= label_tag "addon_permalink", "#{addon[:name]} (#{number_to_currency addon[:price] / 100} / month)" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	
		Your current package, including addons, is <b><%= number_to_currency @website.price / 100 %> / month</b>.<br>
		
		<% if @website.customer_token.blank? %>
			There is no credit card associated with your account.
			<%= link_to "Add my billing information", "#", class: "toggle_billing" %><br><br>
		<% else %>
			Your current credit card ends with <b><%= @website.last_4 %></b>.
			<%= link_to "Update my credit card", "#", class: "toggle_billing" %><br>
			To cancel your subscription: remove all addons and make the domain blank.<br><br>
		<% end %>
	
	<% end %>

	<div class="billing <%= "hide" if !@website.customer_token.blank? || @website.customer_token.blank? %>">
		<hr />
	  <div class="field">
	    <%= label_tag "Number" %><br>
	    <%= text_field_tag nil, "", data: { stripe: "number", name: nil, id: nil } %>
	  </div>
	  <div class="field">
	    <%= label_tag "CVC" %><br>
	    <%= text_field_tag nil, "", data: { stripe: "cvc", name: nil, id: nil } %>
	  </div>
	  <div class="field">
	    <%= label_tag "Expiry Month" %><br>
			<%= select_month nil, { add_month_numbers: true }, { data: { stripe: "exp-month" }, name: nil, id: nil } %>
	  </div>
	  <div class="field">
	    <%= label_tag "Expiry Year" %><br>
			<%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year + 15 }, { data: { stripe: "exp-year" }, name: nil, id: nil } %>
	  </div>
		<%= f.hidden_field :card_token %>
		<hr />
	</div>
	
	<% if super_admin? %>
	  <div class="field">
	    <%= f.label :customer_token %><br>
	    <%= f.text_field :customer_token %>
	  </div>
	<% end %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
