<%= render "manage_nav" %>

<%= form_for @website, url: save_path, data: { customer_token: @website.has_payment_info? } do |f| %>
	<%= hidden_field_tag :redirect, manage_path("theme") %>
	
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Company, Organization, or Website Name (eg. Excite Creative)" %><br>
    <%= f.text_field :title %>
  </div>
	
  <div class="field">
    <%= f.label :primary_colour %><br>
    <%= f.text_field :primary_colour %>
  </div>
  <div class="field">
    <%= f.label :secondary_colour %><br>
    <%= f.text_field :secondary_colour %>
  </div>
  <div class="field">
    <%= f.label :theme_id %><br>
    <%= f.collection_select :theme_id, @website.available_themes, :id, :name %>
		<%= link_to "Theme Manager", manage_path("themes") %>
  </div>
  <div class="field">
    <%= f.label :home_id %><br>
    <%= f.collection_select :home_id, @website.pages, :id, :title %>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
