<style type="text/css">
	#topbar {
	  background: <%= @website.primary_colour %>;
	  background: -moz-linear-gradient(top,  {{ primary | rgb_alpha: 0.85 }} 0%, <%= @website.primary_colour %> 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, {{ primary | rgb_alpha: 0.85 }}), color-stop(100%, <%= @website.primary_colour %>)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  {{ primary | rgb_alpha: 0.85 }} 0%, <%= @website.primary_colour %> 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  {{ primary | rgb_alpha: 0.85 }} 0%, <%= @website.primary_colour %> 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  {{ primary | rgb_alpha: 0.85 }} 0%, <%= @website.primary_colour %> 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  <%= LiquidFilters::rgb_alpha(@website.primary_colour, 0.85) %> 0%, <%= @website.primary_colour %> 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ primary | rgb_alpha: 0.85 }}', endColorstr='<%= @website.primary_colour %>',GradientType=0 ); /* IE6-9 */
	}
</style>

<div id="topbar">
	<div class="container">
    <h1><%= link_to image_tag("/themes/shared/white_logo.png"), manage_path("account") %></h1>
		
		<ul class="nav">
			<li><%= link_to "My Site", root_path %>
			<li><%= link_to "Theme", manage_path("theme") %>
			<li><%= link_to "Account", manage_path("account") %>
			<li><%= link_to "Invoices", manage_path("invoices") %>
			<li><%= link_to "Members", manage_path("members") %>
			<li>
				<%= link_to "Sign Out", destroy_user_session_path if user_signed_in? %>
				<%= link_to "Sign In", new_user_session_path unless signed_in? %>
			</li>
		</ul>
		
		<div class="clear"></div>
	</div>
</div>