<%= button_tag "Save Changes", class: "publish", data: { url: save_path(format: :js) } %>
<%= button_tag "Clear History", class: "clear_timetravel" %>

<%= render "pages/includes/editor/media" %>
<%= render "pages/includes/editor/menu" %>
<%= render "pages/includes/editor/widget_editors" %>

<div id="templates">
	<%= render Block.new(genre: "text", details: { "style" => "p", "content" => "This is a placeholder" }) %>
	<%= render Block.new(genre: "events") %>
	<%= render Block.new(genre: "img", details: { "src" => "http://www.netbuild.co/themes/shared/white_logo.png" }) %>
	<%= render Block.new(genre: "social", details: { "content" => "This is social." }) %>
</div>
<div id="snapshots"></div>