<%= button_tag "Save Changes", class: "publish", data: { url: save_path(format: :js) } %>
<%= button_tag "Clear History", class: "clear_timetravel" %>

<%= render "pages/includes/editor/media" %>
<%= render "pages/includes/editor/menu" %>
<%= render "pages/includes/editor/widget_editors" %>

<%= form_for Block.new, remote: true do |f| %>
	<%= f.hidden_field :wrapper_id %>
	<%= f.hidden_field :genre %>
<% end %>

<div id="templates">
	<%
		cols_block = @website.blocks.build(genre: "cols")
    2.times.map {
      w = cols_block.wrappers.build(width: 50)
      w.blocks.build(genre: "text", details: { "style" => "p", "content" => "This is a placeholder." })
    }
	%>
	
	<%= render @website.blocks.build(initial_id: SecureRandom.hex, genre: "text", details: { "style" => "p", "content" => "This is a placeholder" }) %>
	<%= render @website.blocks.build(initial_id: SecureRandom.hex, genre: "events") %>
	<%= render @website.blocks.build(initial_id: SecureRandom.hex, genre: "img", details: { "src" => "http://www.netbuild.co/themes/shared/white_logo.png" }) %>
	<%= render @website.blocks.build(initial_id: SecureRandom.hex, genre: "social", details: { "content" => "This is a placeholder" }) %>
	<%= render cols_block %>
</div>
<div id="snapshots"></div>