<ol class="nav social">
	<li><%= link_to "<i class=\"icon-facebook\"></i>".html_safe, "#" %></li>
	<li><%= link_to "<i class=\"icon-twitter\"></i>".html_safe, "#" %></li>
	<li><%= link_to "<i class=\"icon-instagram\"></i>".html_safe, "#" %></li>
	<li><%= link_to "<i class=\"icon-rss\"></i>".html_safe, "#" %></li>
	<li><%= link_to "<i class=\"icon-search\"></i>".html_safe, public_page_path("search") %></li>
	
	<% if adminable? %>
		<li><%= link_to "<i class=\"icon-envelope\"></i>".html_safe, public_page_path("mail"), target: :blank %></li>
	<% end %>
	
	<li><%= link_to "<i class=\"#{user_signed_in? ? "icon-unlock" : "icon-lock"}\"></i>".html_safe, user_signed_in? ? destroy_user_session_path : public_page_path("sign_in") %></li>
</ol>