<!DOCTYPE html>
<html>
<head>
  <title>Blocks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= tag :meta, name: "stripe-key", content: CONFIG["stripe_public_key"] %>
  <%= csrf_meta_tags %>
	<style type="text/css">
		<%= render "dynamic_css" %>
	</style>
</head>
<body>

	<%= render "dialogs" %>
	
	<div id="yield">
		<%= yield %>
	</div>

</body>
</html>
