<!DOCTYPE html>
<html>
<head>
  <title>Blocks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= tag :meta, name: "stripe-key", content: CONFIG["stripe_public_key"] %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to "Sign Out", destroy_user_session_path if user_signed_in? %> | 
	<%= link_to "Sign In", new_user_session_path unless signed_in? %> | 
	
	<% if signed_in? %>
		<% if adminable? %>
			admin
		<% else %>
			user
		<% end %>
		| <%= current_user.email %>
	<% else %>
		visitor
	<% end %>

<%= yield %>

</body>
</html>
