<!DOCTYPE html>
<html>
<head>
  <title><%= @page.title %> - <%= @website.title %></title>
  <%= stylesheet_link_tag    "editor", theme_path(@website.theme, format: :css), media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "editor", theme_path(@website.theme, format: :js), "data-turbolinks-track" => true %>
	<%= tag :meta, name: "description", content: @page.description unless @page.description.blank? %>
	<%= tag :meta, name: "viewport", content: "initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" %>
	<%= tag :meta, name: "apple-mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-status-bar-style", content: "black" %>
	<%= auto_discovery_link_tag :atom, feed_path %>
	<%= auto_discovery_link_tag :rss, feed_path(format: :rss) %>
  <%= csrf_meta_tags %>
	<%= @website.header.to_s.html_safe %>
</head>
<body data-primary_colour="<%= @website.primary_colour %>" data-secondary_colour="<%= @website.secondary_colour %>" data-page_id="<%= @page.id if @page %>">

<%= render "pages/includes/editor" %>

<div id="timetravel">
	<%= render "pages/includes/yield" %>
</div>

</body>
</html>