<!DOCTYPE html>
<html>
<head>
  <title>Blocks</title>
  <%= stylesheet_link_tag    "editor", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "editor", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-page_id="<%= @page.id if @page %>">
	
<%= render "pages/includes/editor" %>

<div id="timetravel">
<%=

	case @page.permalink
	when "signin"
		@yield = render("pages/includes/sessions")
	when "sitemap"
		@yield = render("pages/includes/sitemap")
	else
		@yield = ""
	end

	Liquid::Template.parse(@page.layout.body).render({
		"primary" => "rgb(184, 48, 48)",
		"secondary" => "rgb(58, 122, 125)",
		"logo" => "/themes/shared/logo.png",
		"cta" => "/themes/shared/miniban.png",
		"nav" => render("pages/includes/nav"),
		"subnav" => render("pages/includes/subnav"),
		"title" => @page.title,
		"sign_inout" => user_signed_in? ? destroy_user_session_path : new_user_session_path,
		"sign_inout_icon" => user_signed_in? ? "unlock" : "lock",
		"adminable?" => adminable?
		# "yield" => @yield
	}.merge(@blocks), :filters => [LiquidFilters]).html_safe

%>
</div>

</body>
</html>